*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
 
html, body{
    height: 100%;
}
 
div.container{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}
 
.clear{
    clear: both;
}
 
header{
    background-color: rgb(220, 220, 220);
}

.logo-1{
    float: left; /* Posiciona a esquerda*/
    width: 150px;
    height: 60px;
    background-image: url('../src/images/logo1.png');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}